{% extends 'resume_build/base.html' %}

{% block title %}Welcome to AI Resume Builder{% endblock %}

{% block content %}
<div class="welcome-message">
    <h1>Welcome to AI Resume Builder</h1>
    {% if request.session.info %}
        <p>Welcome, {{ request.session.info.name }}!</p>
        <!-- <a href="{% url 'create_resume' %}" class="btn btn-primary">Create a New Resume</a> -->
        <!-- <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'create_resume' %}'">Create a New Resume</button> -->
        <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'resume_options' %}'">GET STARTED</button>
        <br>
        <form method="post" action="{% url 'logout' %}" style="margin-top: 10px;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    {% else %}
        <p>Please log in to start building your resume!</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'register' %}" class="btn btn-secondary">Sign Up</a>
    {% endif %}
</div>
{% endblock %}
