<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Builder</title>
</head>
<body>
    <div class="container">
      {% if user.is_authenticated %}
      <a href="{% url 'create_resume' %}">Create your resume</a>
      <br><br><br><br>
        <p>Welcome, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
      </form>
      {% else %}
      <br><br>
        <a href="{% url 'login' %}">Login</a> to start building your resume!
      {% endif %}
    </div>
  </div>
</html>
